$twitchBackground: transparent; //#18181b;
$twitchHighlightColour: #9147ff;

$twitchDarkModeTextColour: #efeff1;
$twitchDarkModePlaceholderTextColour: rgba(0, 0, 0, 0.5);
$twitchLightModeTextColour: #0e0e10;
$twitchLightModePlaceholderTextColour: rgba(255, 255, 255, 0.5);


#main.twitch {
    background: $twitchBackground;

    >* {
        padding-left: 0;
        padding-right: 0;
    }

    #panel {
        min-height: 100%;
        max-height: 100%;

        &:hover {
            // #patreonVerticalList.bg-hover {
            //     background-color: rgba(0, 0, 0, 0.5);
            // }

            .patreon-btn-hover {
                top: 80%;
            }
        }

        .patreon-btn-hover {
            top: 100%;
            left: 0;
            right: 0;
            transition: top 500ms ease-in-out;
        }
    }

    .button.primary,
    input[type="submit"].primary {
        outline: none;
        background-color: $twitchHighlightColour;
    }

    a.twitch,
    a.twitch *,
    .icon:before {
        color: $twitchHighlightColour;
    }

    &.dark {

        #config,
        #browser-source-settings {

            p,
            li,
            input,
            .label,
            .MuiFormControlLabel-root,
            .MuiIconButton-label {
                color: $twitchDarkModeTextColour;

                input {
                    background-color: rgba(30, 30, 30, 0.25);
                    border-color: #dddddd;
                }
            }

        }
    }

    &.light * {

        #config,
        #browser-source-settings {

            p,
            li,
            input,
            .label {
                color: $twitchLightModeTextColour;
            }

        }
    }
}