html {
    min-height: 100vh;
    scroll-behavior: smooth;

    ::selection {
        color: white;
        background: #5331b9;
    }

    ::-moz-selection {
        color: white;
        background: #5331b9;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

span.highlight {
    // background-color: rgba(255, 255, 255, 0.1);
}

.ta-center {
    text-align: center;
}

.mt1 {
    margin-top: 1em;
}

.mt5 {
    margin-top: 5em;
}

.mr3 {
    margin-right: 3em;
}

.m-h-auto {
    margin: 0 auto;
}

.pt1 {
    padding-top: 1em;
}

.pt5 {
    padding-top: 5em;
}

.no-click {
    cursor: not-allowed;
}

.bold {
    font-weight: bold;
}


.features.special {
    text-align: center;
}

@import 'libs/vars';
@import 'libs/functions';

@import 'custom/_twitch.scss';
@import 'custom/_image.scss';
@import 'custom/_icon.scss';
@import 'custom/_error.scss';